<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MeNomNom - Menomonie Restaurants, bars and events</title>

<link rel="stylesheet" href="{{ STATIC_URL }}CSS/style.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}anythingSlider/anythingslider.css" type="text/css">
<link rel="stylesheet" href="{{ STATIC_URL }}colorbox/colorbox.css" type="text/css">
<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}anythingSlider/jquery.anythingslider.min.js"></script>
<script src="{{ STATIC_URL }}colorbox/jquery.colorbox-min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.elastic.source.js"></script>
<script src="{{ STATIC_URL }}js/jquery.char.left.js"></script>
<script src="{{ STATIC_URL }}js/global.js"></script>

</head>
<body>

<div id="container">
    
<div id="header">
    <div id="logo"><a href="/" style="border:none;"><img src="{{ STATIC_URL }}images/MeNomNom_logo.png" /></a></div>
    
    <div id="global_navigation">
    
        <a href="/events/daily/" id="events_link" class="global_link" title="Upcoming Events">
        <img src="{{ STATIC_URL }}images/icons/guitar.png" alt="Upcoming Events" />
        <h4>Events</h4>
        </a>
        <a href="/specials/" id="specials_link" class="global_link" title="Food and Drink Specials">
        <img src="{{ STATIC_URL }}images/icons/glass.png" alt="Food and Drink Specials" />
        <h4>Specials</h4>
        </a>
        <a href="/directory/" id="directory_link" class="global_link" title="Directory">
        <img src="{{ STATIC_URL }}images/icons/directory.png" alt="Directory" />
        <h4>Directory</h4>
        </a>
        <a href="/social/" id="socialize_link" class="global_link" title="Socialize">
        <img src="{{ STATIC_URL }}images/icons/socialize.png" alt="Socialize" />
        <h4>Socialize</h4>
        </a>
        
    </div>
    
</div>

<div id="main">
    
    <div id="specific_box" class="border_wrap" style="width:590px;">
    <div class="standard_header bottom_blue"><h1>About MeNomNom</h1></div>
        
        <div class="specific_main_left">
        	<img style="border:none;" src="{{ STATIC_URL }}images/150w_logo.png" />
            
        	<div class="specific_header_small">Areas of expertise:</div>
            <div class="specific_body_text_small">
            Restaurants & Bars<br />
            Local Events<br />
            Food Specials<br />
            Drink Specials<br />
            Community Messages<br />
            Local Advertising
            </div>
            
            <div class="specific_header_small">Phone</div>
            <div class="specific_body_text_small">
            (715) 556 - 0841
            </div>
            
        </div>
        
        <div class="specific_main_right">
        
        	<div class="specific_header">Our Mission</div>
            
            <article class="specific_body_text">
            Our mission is to make it easy for Menomonie community members to find information that pertains to their day-to-day lives. Furthermore, we believe that local businesses are at the heart of a strong community, and so we do everything we can to concentrate our efforts locally.
            </article>
            
            <div class="specific_header">Our Story</div>
            
            	<article class="specific_body_text_small">
                During the summer of 2011, we had an idea. We wanted to create a website that not only acted as a central hub of information for members of the Menomonie community (something that was lacking at the time), but we also wanted to make sure that it benefited small businesses. So we did it.
                <br /><br />

Besides providing information about local restaurants, bars and upcoming events, we also aim to help small local businesses create affordable marketing campaigns so that they can compete with the large corporations in town, such as Wal•Mart. (You'll never see a Wal•Mart ad on our website. We promise.)
<br /><br />

If you have ideas about how we can improve our website, we'd love to hear them. Really, we take your suggestions quite seriously. We're also very open to co-sponsoring events, so if you feel this would be helpful to your organization, contact us and we'll get it setup.
<br /><br />

Thanks for using MeNomNom!
                </article>
        
        </div>
            
        
    	</div>
        
        <div id="specific_sidebar" class="border_wrap" style="text-align:center; width: 250px;">
        
        <div class="standard_header bottom_blue"><h1>Our Team</h1></div>
        
    		<div class="specific_sidebar_inner">
    		
            <br />
            <div class="specific_header_small">Jerad Maplethorpe</div>
            <div class="specific_body_text_small">
            Founder / Web Design<br />
            (715) 531 - 5587 [call or txt]<br />
            jerad@menomnom.com
            </div><br />
            
            <div class="specific_header_small">Adam Argo</div>
            <div class="specific_body_text_small">
            Business Management<br />
            (715) 556 - 0841 [call or txt]<br />
            adam@menomnom.com
            </div><br />
            
            <div class="specific_header_small">George Griffin</div>
            <div class="specific_body_text_small">
            Web Programming<br />
            george@menomnom.com
            </div><br />
            
            <a class="specific_body_text_small" style="float:right;" href="/contact/">Contact us form</a>
            
            </div>
        
    	</div>
        
	</div>
    
    <div id="footer">

	<div id="footer_links">
        <ul>
            <li class="login_open"><a href="#">Login</a></li>
            <li>|</li>
            <li><a href="/about/">About Us</a></li>
            <li>|</li>
            <li><a href="/contact/">Contact</a></li>
            <li>|</li>
            <li><a href="/submit-event/">Submit an Event</a></li>
        </ul>
	</div>
    
</div>

</div>

</body>
</html>
