<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>MeNomNom - Menomonie Restaurants, bars and events</title>

<link rel="stylesheet" href="CSS/style.css" type="text/css">
<script src="js/jquery-1.7.2.min.js"></script>
<script src="js/jquery.elastic.source.js"></script>
<script src="js/jquery.char.left.js"></script>
<script src="js/global.js"></script>



</head>
<body>

<div id="container">
    
<div id="header">
    <div id="logo"><a href="loggedin.html" style="border:none;"><img src="images/MeNomNom_logo.png" /></a></div>
    
    <div id="global_navigation">
    
    	<a href="loggedin.html" id="home_link" class="global_link" title="Home">
        <img src="images/icons/home.png" alt="Home" />
        <h4>Home</h4>
        </a>
        <a href="daily_events.html" id="events_link" class="global_link" title="Upcoming Events">
        <img src="images/icons/guitar.png" alt="Upcoming Events" />
        <h4>Events</h4>
        </a>
        <a href="specials.html" id="specials_link" class="global_link" title="Food and Drink Specials">
        <img src="images/icons/glass.png" alt="Food and Drink Specials" />
        <h4>Specials</h4>
        </a>
        <a href="directory.html" id="directory_link" class="global_link" title="Directory">
        <img src="images/icons/directory.png" alt="Directory" />
        <h4>Directory</h4>
        </a>
        <a href="socialize.html" id="socialize_link" class="global_link" title="Socialize">
        <img src="images/icons/socialize.png" alt="Socialize" />
        <h4>Socialize</h4>
        </a>
        
    </div>
    
</div>

<div id="main">
    
    <div id="events_box" class="border_wrap">
    	<div class="main_header">
        
            <a class="weekly_event_tab" href="#WeekEventPanel1">This Week</a>
            <div class="tab_divide"> </div>
            <a class="weekly_event_tab" href="#WeekEventPanel2">Next Week</a>
            <div class="tab_divide"> </div>
            <a class="weekly_event_tab" href="#WeekEventPanel3"><script>weeksAway(0);</script> - <script>weeksAway(1);</script></a>
            <div class="tab_divide"> </div>
            <a class="weekly_event_tab weekly_event_width_fix" href="#WeekEventPanel4"><script>weeksAway(2);</script> - <script>weeksAway(3);</script></a>
        
        </div>
  
        
        <div class="eventPanel" id="WeekEventPanel1">
        
        <!-- Next Event -->
        
            <div class="event_outter">
            
            	<div class="weekly_event_inner">
                
                	<div class="weekly_date">July 21</div>
                    
                    	<div class="event_img_holder">
                        <img src="images/breast_cancer.jpg" />
                        </div>
                        
                        <!-- Title (should) fit on one line -->
                        
                        <h2 class="weekly_title">
                        "One-Mile Marathon" for Breast Cancer Research
                        </h2>
                    
                        <ul>
                            <li class="weekly_location"><a href="#">The Pioneer Bar and Grill</a></li>
                            <li class="weekly_time">12:30 p.m.</li>
                            <li class="weekly_attending">8 Attending</li>
                            <li class="weekly_price">$15.00</li>
                            <div class="daily_event_button weekly_attending_height_fix">Attend This Event</div>
                        </ul>
                        
                        <div class="expand"><a href="#">Show details...</a></div>
                        
                <div class="event_more_info">
                <h3>Event Details</h3>
                <article>
                <p>The nationally-recognized ACC jazz band and jazz drum legend Charli Persip and Grammy Award Winner and Country Guitar legend Redd Volkaert will be coming together for a glorious evening of big band jazz, country/blues and pop music all specially arranged by Tom Husak.
                </p>
                </article>
                </div>
                
                </div>
            
            </div>
            
            <!-- End Events -->
        
        </div>
        
        
    	</div>
        
        <div id="events_filter" class="border_wrap">
    		<div class="standard_header bottom_blue"><h1>Filter Results</h1></div>
    	
        	<div id="popular_filter" class="filter_button">Popular</div>
        	<div id="music_filter" class="filter_button">Music</div>
            <div id="community_filter" class="filter_button">Community</div>
            <div id="fundraiser_filter" class="filter_button">Fundraiser</div>
            <div id="other_filter" class="filter_button">Other</div>
            
             <a href="daily_events.html" class="filter_bottom">Switch to daily view</a>
        
    	</div>
        
	</div>
    
    <div id="footer">

	<div id="footer_links">
        <ul>
            <li class="login_open"><a href="#">Login</a></li>
            <li>|</li>
            <li><a href="#">About Us</a></li>
            <li>|</li>
            <li><a href="#">Contact</a></li>
            <li>|</li>
            <li><a href="#">Submit an Event</a></li>
        </ul>
	</div>
    
</div>

</div>

</body>
</html>
